@import 'sass/helper';
@import 'sass/global';
@import 'sass/floating-label';
@import 'sass/animation';

.line-tiket{
	background:#fdcb04; height:4px;
}

.web-logo{
	height:40px; margin-top:20px; margin-left:60px; 
}

#webinfo{
	position:fixed; bottom:0; left:0; width:100%; padding:10px 0; background:rgba(0,0,0,0.3);
}

.payment-steps{
	position:absolute; top:10px; right:70px; max-width:350px; width:100%; height:50px;
	.default-line{
		border:none; border-top:3px solid #ddd; width:100%; position:absolute; top:$payment-steps-content-top; left:0; z-index:2;
	}
	.progress-line{
		border:none; border-top:3px solid #02629a; width:0%; position:absolute; top:$payment-steps-content-top; left:0; z-index:3;
		&.half{
			width:50%;
		}
		&.full{
			width:100%;
		}
	}
	.step-option{
		position:absolute; top:$payment-steps-content-top; margin-top:-($w-radio/2); z-index:4;
		&.step-1{
			left:0;
		}
		&.step-2{
			left:50%; margin-left:-($h-radio/2);
		}
		&.step-3{
			right:0;
		}
		> p{
			position:absolute; width:100px; top:24px; left:50%; margin-left:-50px;
			text-align:center;
		}
	}
}


.review-flight{
	background:#F9F9F9; padding:20px 40px 0 40px; margin-bottom:20px;
	.review-order-box{
		.title{
			border-bottom:2px solid #c2c2c2; position:relative; margin-bottom:15px;
			font-family:$f-bold; font-size:20px; color:#979797;
			.order-no{
				position:absolute; top:5px; right: 0;	/*--Inna--*/
				font-size:16px; color:#02629A;
			}
		}
		.detail{
			>.row{
				>div{
					padding:0; margin-bottom:15px;
					&.col-sm-2{
						width:14%;
					}
					&.col-sm-4{
						margin-right:2.6667%;
					}
					.col-xs-4{
						/*--Inna--*/
						width: 32%;
					}
					.col-xs-2{
						/*--Inna--*/
						width: 18%;
					}
					.detail-title{
						margin:0; margin-bottom:10px;
						font-family:$f-bold; font-size:13px; color:#1a1919;
						&.blue{
							color:#02629a; 
						}
						&.flight{
							/*--Inna--*/
							font-size: 14px;
							margin: 3px 0px;
						}
						&.underline{
							/*--Inna--*/
							text-decoration: underline;
						}
					}
					.no-bold{
						/*--Inna--*/
						font-family:$f-regular;
						font-weight: 100;
					}
					.detail-bold{
						font-family:$f-bold; font-size:13px; color:#1a1919;
						ul{
							margin:0; padding-left:20px;;
							li{
							}
						}
						&.orange{
							/*--Inna--*/
							color:#ff7200; 
						}
					}
					.total-amount{
						/*--Inna--*/
						font-size: 26px;
					}
					.detail-logo{
						img{
							height:22px; margin-right:5px;
						}
					}
					.detail-logo-button {
						/*--Inna--*/
					    margin-top: 16px;
					}
					.review-free{
						font-family:$f-bold; font-size:13px; color:#ff7200;
					}
					.multiple-airlines-button{
						    width: 99px;
						    height: 20px;
						    border-radius: 100px;
						    background-color: #dddddd;
						    font-size: 11px;
						    border: none;
						    color: #888888;
					}
					.transit{
						margin: 7px 0px 0px 0px;
						color: #888888;
					}
					.flight-info {
					    margin: 4px 0px 5px 0px;
					    padding-right: 10px;
					}
				}
				.grand-total-price{
					background:#97cc35; padding:8px 10px; margin-bottom:0;
					font-family:$f-bold; font-size:26px; color:#fff;
					span{
						display:block;
						font-size:14px;
					}
				}
			}
		}
	}
	.flight-explanation-detail{
		>.row{
			>div{
				padding:0;
				p{
					margin:0;
				}
			}
		}
	}
}

/* Review Hotel*/
.review-hotel{
	background:#F9F9F9; padding:20px 40px 0 40px; margin-bottom:20px;
	.review-order-box{
		.title{
			border-bottom:2px solid #c2c2c2; position:relative; margin-bottom:15px;
			font-family:$f-bold; font-size:20px; color:#979797;
			.order-no{
				position:absolute; top:5px; right:0;
				font-size:16px; font-family:$f-bold; color:#02629A;
			}
		}
		.detail{
			.detail-title{
				font-size: 15px;
				margin: 0;
			}
			.row{
				.check-detail{
					border-right: solid 1px #dddddd;
					p{
						font-size: 13px;
						margin: 5px -1px;
					}

				}
				.room-detail{
					p{
						font-size: 13px;
						margin: 5px -1px;
					}
				}
				.room-price{
					p{
						font-size: 13px;
						margin: 4px -4px;
					}
					.col-xs-5{
						width: 44%;
						padding-right: 0;

					}
					.col-xs-7{
						width: 56%;
					}
					h3{
						font-size: 26px;
						margin: -3px -5px;
					}
					h4{
						font-size: 13px;
					    margin-left: -4px;
					    margin-bottom: 0px;
					    margin-top: 21px;
					}
				}
				.detail-facility{
					.title-facility{
						font-size: 13px;
					}
				}
				.col-md-3{
					width: 23%;
					padding: 5px;
				}
				.col-md-9{
					width: 77%;
				}
				.orange{
					color: #ff7200;
				}
				.location{
					color: #888;
					margin:0;
					font-size: 13px;
				}
				.strong{
					font-family:$f-bold;
				}
			}

		}
	}
}

.step-already{
	h3{
		font-size: 17px;
		padding-left: 26px;
		margin: 10px 0px 0px 0px;
	}
	small{
		font-size: 10px;
  		color: #888888;
  		padding-left: 26px;
	}
	.space-button{
		padding:5px 10px; float:left
	}
	.col-md-4{
		width: 40%;
	}
	.col-md-8{
		width: 60%;
	}
	.button-login{
		width: 80px;
		height: 40px;
		border-radius: 6px;
		background-color: #ff7200;
		font-size: 15px;
  		color: #ffffff;
  		border:none;
	}
	.button-facebook{
		width: 190px;
		height: 40px;
		border-radius: 6px;
		background-color: #00599b;
		font-size: 15px;
  		color: #ffffff;
  		border:none;
	}
	.button-google{
  		width: 171px;
  		height: 40px;
  		border-radius: 6px;
  		background-color: #dc4e41;
  		font-size: 15px;
  		color: #ffffff;
  		border:none;
	}
}

.contact-form{
	border: solid 1px #dddddd;
	padding: 20px 50px;
	.contact-form-title{
		h3{
			font-size: 17px;
			font-family:$f-bold;
			text-decoration: underline;
		}
	} 
	.contact-form-sub{
		h4{
			font-size: 15px;
			font-family:$f-bold;
		}
	}
	.select2-container {
		box-sizing: border-box;
		display: inline-block;
		margin-top: 6px;
		position: relative;
		vertical-align: middle;
	}
	.select2-container--default .select2-selection--single {
		border: none;
		border-radius: 0px;
	}
	.select2 .select2-container .select2-container--default .select2-container--below .select2-container--focus{
		width: 82px;
	}
	.select2 .select2-container .select2-container--default {
		width: 82px;
	}
	.row .bottom{
		border-bottom: solid 1px #dddddd;
		margin-top: -1px;
		margin-left: 0;
    	margin-right: 0;
    	margin-bottom: 5px;
    	.col-sm-4{
    		padding-left: 0;
    	}
	}
	.col-sm-4{
		width: 28%;
	}
	.col-sm-8{
		width: 72%;
	}
	small{
		font-size: 11px;
  		color: #888888;
	}
	.passanger-data{
		border: solid 1px #dddddd;
		padding: 0px 70px;
	}
	// .contact-form .row .bottom .col-sm-4 {
	//     padding-left: 0;
	// }
}


.step-box{
	.step-header{
		border-top:2px solid #02629a; background:#fff; padding:10px; position:relative;
		font-family:$f-bold; font-size:20px; color:#02629a;
		> div{
			padding-left:30px;
		}
	}
	.step-content{		
		.col-sm-4{
			padding-left:0;
		}
	}
}

#payment-choices{
	cursor:pointer;
	>.option{
		border:1px solid #ddd; margin-bottom:10px; position:relative; background:#F8F8F8;
		&.curr{
			background:#fff;
		}
		.head{
			padding:5px 40px;
			> div{
				float:left;
				&.title{
					margin:0; min-width:115px;
					font-family:$f-medium; font-size:15px; line-height:36px;
				}
				&.payment-logo-box{
					min-width:175px;
				}
				&.name{
					font-family:$f-medium; font-size:13px; color:#999; line-height:36px; 
				}
			}
			.payment-arrow-down{
				position:absolute; top:17px; right:20px;
				color:#00599b;
			}
		}
		.content{
			padding-top:10px; display:none;
		}
	}
}




.tab-list-box{
	margin-bottom:20px;
	.tab-list{
		width:120px; display:inline-block; margin-right:10px; position:relative; padding-left:$w-radio-2 + 5; margin-bottom:10px;
		text-align:left;
		.radio-type-2{
			position:absolute; top:10px; left:0px;
		}
		>p{

		}

		&.curr{
			.payment-logo-2{
				border:2px solid #00cfff;
			}
			>p{
				font-family:$f-bold;
			}
		}
	}
}

.payment-info-list-box{
	>.title{
		margin-bottom:20px;
		font-family:$f-bold; font-size:15px; 
	}
	ul{
		padding-left:30px;
		li{
			position:relative; list-style:none; margin-bottom:24px;
			font-size:15px; line-height:1.4; color:#888;
			>span{
				border:1px solid #0098db; position:absolute; top:0; left:-30px; width:22px; height:22px; display:inline-block; border-radius:100px;
				>span{
					width:100%; height:100%; display:block;
					font-size:15px; color:#0098db; text-align:center;
				}
			}
		}
	}
}

.deduction-box{
	margin:0; margin-bottom:20px;
	font-size:15px; color:#000; text-align:center;
	.option-box{
		>.option{
			width:90px; margin-right:10px; display:inline-block;
			.logo{
				width:73px; height:73px; border:1px solid #ff7200; border-radius:7px; display:inline-block;
				font-size:42px; color:#ff7200; text-align:center;
				&.payment-tiket-logo{
					padding-top:14px;
				}
				&.payment-giftcard{
					padding-top:14px;
				}
			}
			p{
				font-size:15px; color:#000;
			}
			&:last-child{
				margin-right:0;
			}
		}
	}
}

.agreement-box{
	margin-bottom:15px;
	font-size:14px; line-height:1.43; text-align:center;
	.checkbox-type-1{
		margin-right:10px;
	}
	a{
		color:#0098db;
	}
}


.form-credit-card{
	.title{
		margin-bottom:5px;
		font-family:$f-bold; font-size:15px; 
	}
	.detail{
		margin-bottom:10px;
		font-size:15px; color:#888;
		.text{
			float:left; width:65%;
		}
		.picture{
			float:right;
			img{
				height:35px;
			}
		}
	}
	.box{
		border-radius:10px; background:#f6f6f6; box-shadow:0 4px 2px 0 rgba(0, 0, 0, 0.15); padding:25px; margin-bottom:10px;
		label{
			display:block; margin-bottom:5px;
			font-size:15px; color:#333;
			span{
				color:#f00;
			}
		}
		.form-control{
			margin-bottom:20px; height:50px;
			font-size:17px; color:#333;
		}
		.expired-area{
			float:left; width:60%;
			font-size:20px;
			.form-control{
				width:40%; display:inline-block;
			}
		}
		.cvv-area{
			float:left; width:40%;
		}
	}
	.cicilan-area{
		margin-bottom:17px;
		.radio-option{
			margin-bottom:10px;
			font-size:15px; color:#1a1a1a;
			.label{
				display:inline-block; margin-top:-25px;
			}
		}
	}
	.partner-area{
		.title{
			padding-top:25px; margin-bottom:20px;
		}
		.img-box{
			margin-bottom:35px;
			img{
				height:20px; margin-right:18px;
				&:last-child{
					margin-right:0;
				}
			}
		}
	}
}

.form-klik-bca{
	margin-bottom:37px;
	>.title{
		margin-bottom:10px;
		font-size:17px;
	}
	>.form-control{
		width:350px; height:40px; display:inline-block;
		font-size:20px; color:#000; text-align:center;
	}
	>.detail{
		font-size:14px; color:#888;
	}
}

.form-klikpay{
	margin-bottom:37px;
	>.detail{
		margin-bottom:17px;
		font-size:14px; 
	}
	> img{
		display:inline-block; margin-right:10px; width:50px;
	}
	> .form-control{
		display:inline-block; width:300px;
	}
}

.form-mandiri-clickpay{
	.title{
		margin-bottom:10px;
		font-size:15px;
	}
	.box{
		border-radius:6px; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.08); border:1px solid #eee; padding:23px; margin-bottom:32px;
		label{
			display:block; margin:0; margin-bottom:5px;
			font-size:14px;color:#858585;
		}
		p{
			margin:0; margin-bottom:10px;
			font-family:$f-bold; font-size:14px; 
			&.blue{
				color:#00599b;
			}
		}
		.form-control{
			margin-bottom:5px;
		}
	}
}

.part-title{
	padding-left:60px; border-bottom:2px solid #02629a; margin-bottom:10px;
	font-family:$f-bold; font-size:20px; color:#02629a;
}

@import 'sass/media';